#container {
    
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 120px;
    transform: translateY(-50%);
  }
  
  #container a {
    text-decoration: none;
  }

  #align-end{
      text-align: end;
  }

  input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    cursor: pointer;
}