<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="feed">
        <ion-icon name="home"></ion-icon>
        <ion-badge>2</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="profile">
        <ion-icon name="person-circle"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="add-publication">
        <ion-icon name="add-circle"></ion-icon>
      </ion-tab-button>
      
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="notifications">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge>8</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
