<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-margin">
    <ion-row class="ion-align-items-center ion-justify-content-start">
      <ion-avatar class="ion-margin-end">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <p>Lopez Anthony</p>
    </ion-row>
    <ion-button size="small" color="tertiary" class="ion-margin-top ion-margin-bottom" [routerLink]="['/feed']">Edit profile</ion-button> 
    <div class="">
      <ion-row class="ion-align-items-center ion-justify-content-around">
        <ion-label>300 following</ion-label>
        <ion-label>2440 followers</ion-label>
      </ion-row>
    </div>
  </div>
  
  <ion-row class="ion-justify-content-center">
    <ion-button size="medium" color="tertiary" class="ion-margin-top ion-justify-content-center" [routerLink]="['/feed']">New publication</ion-button> 
  </ion-row>

  <ion-card>
    <img src="https://i.pinimg.com/originals/18/7c/8f/187c8f58a77b83c77f0340f57c56dfcf.png">
    <ion-card-header>
      <ion-row class="ion-align-items-center ion-justify-content-between">
      <div>
        <ion-row class="ion-align-items-center">
        <ion-card-title><ion-icon name="heart-outline"></ion-icon></ion-card-title>
        <ion-card-subtitle class="ion-margin-start">530 Likes</ion-card-subtitle>
        </ion-row>

      </div>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-row>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>Lopez Anthony</ion-card-title>
      <ion-card-subtitle>Keep close to Nature's heart... and break clear away</ion-card-subtitle>   
      <ion-card-subtitle class="ion-margin-top">32 comments</ion-card-subtitle> 
      <ion-item>
        <ion-input placeholder="Add a comment..."></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://i.pinimg.com/originals/18/7c/8f/187c8f58a77b83c77f0340f57c56dfcf.png">
    <ion-card-header>
      <ion-row class="ion-align-items-center ion-justify-content-between">
      <div>
        <ion-row class="ion-align-items-center">
        <ion-card-title><ion-icon name="heart-outline"></ion-icon></ion-card-title>
        <ion-card-subtitle class="ion-margin-start">530 Likes</ion-card-subtitle>
        </ion-row>

      </div>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-row>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>Lopez Anthony</ion-card-title>
      <ion-card-subtitle>Keep close to Nature's heart... and break clear away</ion-card-subtitle>   
      <ion-card-subtitle class="ion-margin-top">32 comments</ion-card-subtitle> 
      <ion-item>
        <ion-input placeholder="Add a comment..."></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://i.pinimg.com/originals/18/7c/8f/187c8f58a77b83c77f0340f57c56dfcf.png">
    <ion-card-header>
      <ion-row class="ion-align-items-center ion-justify-content-between">
      <div>
        <ion-row class="ion-align-items-center">
        <ion-card-title><ion-icon name="heart-outline"></ion-icon></ion-card-title>
        <ion-card-subtitle class="ion-margin-start">530 Likes</ion-card-subtitle>
        </ion-row>

      </div>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-row>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>Lopez Anthony</ion-card-title>
      <ion-card-subtitle>Keep close to Nature's heart... and break clear away</ion-card-subtitle>   
      <ion-card-subtitle class="ion-margin-top">32 comments</ion-card-subtitle> 
      <ion-item>
        <ion-input placeholder="Add a comment..."></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://i.pinimg.com/originals/18/7c/8f/187c8f58a77b83c77f0340f57c56dfcf.png">
    <ion-card-header>
      <ion-row class="ion-align-items-center ion-justify-content-between">
      <div>
        <ion-row class="ion-align-items-center">
        <ion-card-title><ion-icon name="heart-outline"></ion-icon></ion-card-title>
        <ion-card-subtitle class="ion-margin-start">530 Likes</ion-card-subtitle>
        </ion-row>

      </div>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-row>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>Lopez Anthony</ion-card-title>
      <ion-card-subtitle>Keep close to Nature's heart... and break clear away</ion-card-subtitle>   
      <ion-card-subtitle class="ion-margin-top">32 comments</ion-card-subtitle> 
      <ion-item>
        <ion-input placeholder="Add a comment..."></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
