<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-margin">
    <ion-row class="ion-align-items-center ion-justify-content-start">
      <ion-avatar class="ion-margin-end">
        <img :src="{{data.currentUserPp}}">
      </ion-avatar>
      <p>{{data.currentUser}}</p>
    </ion-row>
    <ion-button size="small" color="tertiary" class="ion-margin-top ion-margin-bottom" [routerLink]="['/feed']">Edit profile</ion-button> 
    <div class="">
      <ion-row class="ion-align-items-center ion-justify-content-around">
        <ion-label>{{data.currentUserFollowing}} following</ion-label>
        <ion-label>{{data.currentUserFollowers}} followers</ion-label>
      </ion-row>
    </div>
  </div>
  
  <ion-row class="ion-justify-content-center">
    <ion-button size="medium" color="tertiary" class="ion-margin-top ion-justify-content-center" [routerLink]="['/feed']">New publication</ion-button> 
  </ion-row>

  <ion-card>
    <img :src="{{data.postImg}}">
    <ion-card-header>
      <ion-row class="ion-align-items-center ion-justify-content-between">
      <div>
        <ion-row class="ion-align-items-center">
        <ion-card-title><ion-icon name="heart-outline"></ion-icon></ion-card-title>
        <ion-card-subtitle class="ion-margin-start">{{data.nbLikes}} Likes</ion-card-subtitle>
        </ion-row>

      </div>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-row>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>{{data.postUser}}</ion-card-title>
      <ion-card-subtitle>{{data.postDesc}}</ion-card-subtitle>   
      <ion-card-subtitle class="ion-margin-top">{{data.nbComments}} comments</ion-card-subtitle> 
      <ion-item>
        <ion-input placeholder="Add a comment..."></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img :src="{{data.postImg}}">
    <ion-card-header>
      <ion-row class="ion-align-items-center ion-justify-content-between">
      <div>
        <ion-row class="ion-align-items-center">
        <ion-card-title><ion-icon name="heart-outline"></ion-icon></ion-card-title>
        <ion-card-subtitle class="ion-margin-start">{{data.nbLikes}} Likes</ion-card-subtitle>
        </ion-row>

      </div>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-row>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>{{data.postUser}}</ion-card-title>
      <ion-card-subtitle>{{data.postDesc}}</ion-card-subtitle>   
      <ion-card-subtitle class="ion-margin-top">{{data.nbComments}} comments</ion-card-subtitle> 
      <ion-item>
        <ion-input placeholder="Add a comment..."></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img :src="{{data.postImg}}">
    <ion-card-header>
      <ion-row class="ion-align-items-center ion-justify-content-between">
      <div>
        <ion-row class="ion-align-items-center">
        <ion-card-title><ion-icon name="heart-outline"></ion-icon></ion-card-title>
        <ion-card-subtitle class="ion-margin-start">{{data.nbLikes}} Likes</ion-card-subtitle>
        </ion-row>

      </div>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-row>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>{{data.postUser}}</ion-card-title>
      <ion-card-subtitle>{{data.postDesc}}</ion-card-subtitle>   
      <ion-card-subtitle class="ion-margin-top">{{data.nbComments}} comments</ion-card-subtitle> 
      <ion-item>
        <ion-input placeholder="Add a comment..."></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img :src="{{data.postImg}}">
    <ion-card-header>
      <ion-row class="ion-align-items-center ion-justify-content-between">
      <div>
        <ion-row class="ion-align-items-center">
        <ion-card-title><ion-icon name="heart-outline"></ion-icon></ion-card-title>
        <ion-card-subtitle class="ion-margin-start">{{data.nbLikes}} Likes</ion-card-subtitle>
        </ion-row>

      </div>
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-row>
    </ion-card-header>
  
    <ion-card-content>
      <ion-card-title>{{data.postUser}}</ion-card-title>
      <ion-card-subtitle>{{data.postDesc}}</ion-card-subtitle>   
      <ion-card-subtitle class="ion-margin-top">{{data.nbComments}} comments</ion-card-subtitle> 
      <ion-item>
        <ion-input placeholder="Add a comment..."></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
