<ion-header>
  <ion-toolbar>
    <ion-title>Research</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar debounce="500"></ion-searchbar>

  <ion-card>
        <ion-card-content>
          <ion-row class="ion-align-items-center">
            <ion-icon class="fs-title" name="person-circle"></ion-icon>
            <p class="fs-p">Maxence Bannier</p>
          </ion-row>
        </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-row class="ion-align-items-center">
        <ion-icon class="fs-title" name="person-circle"></ion-icon>
        <p class="fs-p">Yvan Brai</p>
      </ion-row>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-content>
      <ion-row class="ion-align-items-center">
        <ion-icon class="fs-title" name="person-circle"></ion-icon>
        <p class="fs-p">Charly Escalona</p>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-row class="ion-align-items-center">
        <ion-icon class="fs-title" name="person-circle"></ion-icon>
        <p class="fs-p">Christophe 38ans</p>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
