<ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-icon class="fs-title" color="primary" name="{{data.notifLikeIcon}}"></ion-icon>
        <ion-card-title color='primary'> {{data.notifLikeTitle}}</ion-card-title>
      </ion-row>
    
    </ion-card-header>
    <ion-card-content>
      {{data.notifLikeDesc}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-icon class="fs-title" color="primary" name="{{data.notifCommentIcon}}"></ion-icon>
        <ion-card-title color='primary'> {{data.notifCommentTitle}}</ion-card-title>
      </ion-row>
     
    </ion-card-header>
    <ion-card-content>
      {{data.notifCommentDesc}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-icon class="fs-title" color="primary" name="{{data.notifFollowIcon}}"></ion-icon>
        <ion-card-title color='primary'> {{data.notifFollowTitle}}</ion-card-title>
      </ion-row>
     
    </ion-card-header>
    <ion-card-content>
      {{data.notifFollowDesc}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-icon class="fs-title" color="primary" name="{{data.notifLikeIcon}}"></ion-icon>
        <ion-card-title color='primary'> {{data.notifLikeTitle}}</ion-card-title>
      </ion-row>
    
    </ion-card-header>
    <ion-card-content>
      {{data.notifLikeDesc}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-icon class="fs-title" color="primary" name="{{data.notifCommentIcon}}"></ion-icon>
        <ion-card-title color='primary'> {{data.notifCommentTitle}}</ion-card-title>
      </ion-row>
     
    </ion-card-header>
    <ion-card-content>
      {{data.notifCommentDesc}}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-icon class="fs-title" color="primary" name="{{data.notifFollowIcon}}"></ion-icon>
        <ion-card-title color='primary'> {{data.notifFollowTitle}}</ion-card-title>
      </ion-row>
     
    </ion-card-header>
    <ion-card-content>
      {{data.notifFollowDesc}}
    </ion-card-content>
  </ion-card>

</ion-content>
