<ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-icon class="fs-title" color="primary" name="heart"></ion-icon>
        <ion-card-title color='primary'> Like</ion-card-title>
      </ion-row>
    
    </ion-card-header>
    <ion-card-content>
      Maxence Bannier just liked your publication
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-icon class="fs-title" color="primary" name="chatbox-ellipses"></ion-icon>
        <ion-card-title color='primary'> Comment</ion-card-title>
      </ion-row>
     
    </ion-card-header>
    <ion-card-content>
      Yvan Brai just commented your publication
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-icon class="fs-title" color="primary" name="people"></ion-icon>
        <ion-card-title color='primary'> Follow</ion-card-title>
      </ion-row>
     
    </ion-card-header>
    <ion-card-content>
      Anna bridge just followed you
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-icon class="fs-title" color="primary" name="heart"></ion-icon>
        <ion-card-title color='primary'> Like</ion-card-title>
      </ion-row>
    
    </ion-card-header>
    <ion-card-content>
      Maxence Bannier just liked your publication
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-icon class="fs-title" color="primary" name="chatbox-ellipses"></ion-icon>
        <ion-card-title color='primary'> Comment</ion-card-title>
      </ion-row>
     
    </ion-card-header>
    <ion-card-content>
      Yvan Brai just commented your publication
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-icon class="fs-title" color="primary" name="people"></ion-icon>
        <ion-card-title color='primary'> Follow</ion-card-title>
      </ion-row>
     
    </ion-card-header>
    <ion-card-content>
      Anna bridge just followed you
    </ion-card-content>
  </ion-card>

</ion-content>
