<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">S'enregister</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="ion-text-center" size="large">S'enregistrer</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>

      <ion-row style="margin-top:70px">
        <a class="ion-text-start" [routerLink]="['/home']"><ion-icon name="chevron-back-outline"></ion-icon>Retour</a> 
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-img style="width: 70px; height: 70px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1200px-Google_%22G%22_Logo.svg.png"></ion-img>
      </ion-row>

      <ion-col class="ion-align-items-center">

        <ion-item>
          <ion-label position="floating">Votre pseudo</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Votre adresse email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item> 
          <ion-label position="floating">Votre mot de passe</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
 
        <ion-item> 
          <ion-label position="floating">Confirmer le mot de passe</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
 

        <ion-button size="large" color="primary" class="ion-margin-top" [routerLink]="['/feed']">S'inscrire</ion-button>  
        
        <ion-row class="ion-margin-top">
          <ion-col size="12">
            <a [routerLink]="['/home']" class="">Déjà un compte ? Se connecter</a>
          </ion-col>
        </ion-row>

      </ion-col> 
    </ion-grid>
  </div>
  
</ion-content>